:root {
  --bg: rgb(42, 30, 49);
  --primary: rgb(23, 23, 23);
  --secondary: rgb(220, 220, 220);
  --active: rgb(255, 255, 255);
}

div, label, p, h1, h2, h3, h4, h5 {
  color: var(--secondary);
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  text-align: center;
  width: 100%;
}

hr {
  width: 100%;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}