
label:hover {
    color: var(--active);

}

.content {
    margin-left: 240px;
    min-height: 100vh;
}

.sidebar {
    width: 210px;
    position: fixed;
    padding: 10px;
    background-color: var(--primary);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.thumnail {
    position: relative;
    background-color: var(--primary);
    display: inline-block;
    margin: 10px;
    margin-top: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 365px;
    height: 280px;
    text-align: center;
}

.thumnail img {
    width: 365px;
}

.thumnail h3 {
    position: absolute;
    left: 10px;
    bottom: 45px;
    margin: 3px;
    text-align: left;
}

.description {
    padding: 10px;
    position: absolute;
    margin: 0;
    top: -50%;
    left: 0;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    font-size: medium;
    width: calc(100% - 20px);
    height: 186px;
    color: transparent;
}

.genre {
    font-weight: bolder;
    text-shadow: 0px 0px 5px black;
    padding: 2px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
}

.thumnail .genre {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.platform {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.thumnail:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px rgb(86, 77, 131);
}

.thumnail:hover .description {
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: inherit;
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .sidebar {
        width: calc(100% - 60px);
        padding: 30px;
        margin-bottom: 50px;
        position: relative;
        border-radius: 0;
    }
}